@import "../vars";
@import "../mixins";

.photo-card-container {
  margin-bottom: 2rem;

  .photo-card {
    background-color: white;
    padding: 1rem;
    border-radius: $photo-card-border;
    height: 100%;

    a {
      display: block;
      margin-bottom: 2rem;

      img {
        height: 20rem;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}