@import "vars";
@import "mixins";

// General

// - Mobile Nav
#MainNav {
    #navbarNav {
        @include media-breakpoint-down(sm) {
            background-color: $secondary-colour;
            padding: 1rem 0.5rem;

            li {
                a {
                    &:hover, &:active {
                        color: $secondary-font-colour !important;

                    }

                    &:visited {
                        color: $primary-font-colour;
                    }
                }
            }
        }

        @include media-breakpoint-up(md) {
            .navbar-nav {
                position: absolute;
                right: 0;

                > li:last-of-type {
                    a {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

// Buttons
@include media-breakpoint-down(sm) {
    .btn {
        padding: 0.8rem 5rem;
    }
}

@include media-breakpoint-down(xs) {
    .btn {
        width: 100%;
        padding: 0.8rem 1rem;
    }
}

// Text Contain
@include media-breakpoint-down(sm) {
    .text-contain {
        width: 85%;
    }
}

@include media-breakpoint-down(xs) {
    .text-contain {
        width: 100%;
    }
}

// Floating Images
@include media-breakpoint-down(sm) {
    .float-image {
        display: none;
    }
}

// Home

// - Photo Cards
.photo-card {
    @include media-breakpoint-down(md) {
        h1 {
            font-size: 3rem;
        }
    }
}

// About
.about {
    @include media-breakpoint-down(lg) {
        .body {
            .img-handshake {
                left: -30%;
            }

            .img-talk {
                right: -30%;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .body {
            .img-handshake {
                left: -45%;
            }

            .img-talk {
                right: -50%;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .hero {
            min-height: auto;
            height: 35vh;
            width: 100vw;
            left: 50%;
            transform: translateX(-50%);

            .hero-info {
                text-align: center;
                width: 100%;
                padding: 1rem 5rem;

                h3 {
                    display: none;
                }
            }
        }

        .body {
            margin: 2rem 0;
        }
    }

    @include media-breakpoint-down(xs) {
        .hero {
            height: 20vh;
        }
    }
}