@import "vars";
@import "mixins";

// General

// - Mobile Nav
#MainNav {
    #navbarNav {
        @include media-breakpoint-down(sm) {
            background-color: $secondary-colour;
            padding: 1rem 0.5rem;

            li {
                a {
                    &:hover, &:active {
                        color: $secondary-font-colour !important;

                    }

                    &:visited {
                        color: $primary-font-colour;
                    }
                }
            }
        }

        @include media-breakpoint-up(md) {
            .navbar-nav {
                position: absolute;
                right: 0;

                > li:last-of-type {
                    a {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

// Home

// - Photo Cards
.photo-card {
    @include media-breakpoint-down(md) {
        h1 {
            font-size: 3rem;
        }
    }
}