@import "vars";
@import "mixins";

p, h1, h2, h3, h4, h5, h6, div {
    color: $primary-font-colour;
    line-height: 1.6;
    font-family: 'Khula', sans-serif;
    font-size: 17px;
}

a {
    color: $link-colour;
    @include transition(0.3s);
}