// Colours
$primary-colour: #000f18;
$secondary-colour: #4079B2;

// Font colours
$primary-font-colour: #fff;
$secondary-font-colour: #000;

$title-colour: black;
$title-background-colour: white;

// Link colour
$link-colour: #4079B2;

// Nav colour
$nav-color: white;

// Borders
$photo-card-border: 0.3rem;

