// Colours
$primary-colour: #CF794A;
$secondary-colour: #C5424F;
$tertiary-colour: #373034;

// Font colours
$primary-font-colour: #fff;
$secondary-font-colour: white;

$title-colour: black;
$title-background-colour: white;

// Link colour
$link-colour: #0d6efd;

